img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#div_login {
	position:relative; 
	width: 350px; 
	margin: 0 auto; 
	-webkit-box-shadow: 9px 15px 31px -2px rgba(0,0,0,0.89);
	-moz-box-shadow: 9px 15px 31px -2px rgba(0,0,0,0.89);
	box-shadow: 9px 15px 31px -2px rgba(0,0,0,0.89);		
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	background-color: rgba(255, 255, 255, 0.75);
}
